<div id="header" class="container-fluid px-0 ">
    <div class="container-fluid position-fixed border-bottom border-1">
        <div class="row align-items-center">
            <div class="col col-12 d-flex justify-content-evenly align-items-center">
                <h1 class="text-white mx-5">Drink per {{lettera_scelta}}</h1>
                <div class="d-flex align-items-center">
                    <button class="btn btn-primary mx-5" routerLink="/home">Home</button>
                </div>
                <div class="">
                    <div class="d-flex">
                        <p class="text-white fs-5 p-0 m-0 me-2">Cerca per iniziale</p>
                        <select class="" (change)="LetterChange($event)" style=" width: 100px; height: auto;">
                            <option id="{{lettera}}" class="" *ngFor="let lettera of letters" [value]="lettera">
                                {{lettera}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="" *ngIf="esiste">
    <div class="w-100 position-fixed">
        <ul class="nav nav-tabs d-flex justify-content-center">
            <li class="nav-item bg-black">
                <a class="nav-link text-white" [ngClass]="{'active_red': selectedFilter === selectFilter.tutti}" (click)="selectFilterFunction(selectFilter.tutti)">Tutti</a>
            </li>
            <li class="nav-item bg-black">
                <a class="nav-link text-white" [ngClass]="{'active_red': selectedFilter === selectFilter.alcolici}" (click)="selectFilterFunction(selectFilter.alcolici)">Alcolici</a>
            </li>
            <li class="nav-item bg-black">
                <a class="nav-link text-white" [ngClass]="{'active_red': selectedFilter === selectFilter.analcolici}" (click)="selectFilterFunction(selectFilter.analcolici)">Analcolici</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane" [ngClass]="{'active': selectedFilter === selectFilter.tutti}">
            <div class="container pt-5">
                <div class="row pt-5">
                    <div class="col col-12 d-flex flex-wrap">
                        <div class="w-20 px-2 border border-2 m-1" *ngFor="let elemento of drinks">
                            <div id="card" class="d-flex justify-content-center flex-wrap py-3" [routerLink]=" ['dettaglio-elenco', elemento.idDrink]">
                                <img class="img-fluid rounded-circle w-75" src="{{elemento.strDrinkThumb}}" alt="">
                                <p class="w-100 text-center text-white">{{elemento.strDrink}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" [ngClass]="{'active': selectedFilter === selectFilter.alcolici}">
            <!-- alcolici-->
            <div class="container pt-5">
                <div class="row pt-5">
                    <div class="col col-12 d-flex flex-wrap">
                        <div class="w-20 px-2 border border-2 m-1" *ngFor="let elemento of drinkAlchol">
                            <div id="card" class="d-flex justify-content-center flex-wrap py-3" [routerLink]=" ['dettaglio-elenco', elemento.idDrink]">
                                <img class="img-fluid rounded-circle w-75" src="{{elemento.strDrinkThumb}}" alt="">
                                <p class="w-100 text-center text-white">{{elemento.strDrink}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" [ngClass]="{'active': selectedFilter === selectFilter.analcolici}">
            <!-- analcolici-->
            <div class="container pt-5">
                <div class="row pt-5">
                    <div class="col col-12 d-flex flex-wrap">
                        <div class="w-20 px-2 border border-2 m-1" *ngFor="let elemento of drinkAnalchol">
                            <div id="card" class="d-flex justify-content-center flex-wrap py-3" [routerLink]=" ['dettaglio-elenco', elemento.idDrink]">
                                <img class="img-fluid rounded-circle w-75" src="{{elemento.strDrinkThumb}}" alt="">
                                <p class="w-100 text-center text-white">{{elemento.strDrink}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container my-5">
    <div class="d-flex justify-content-center" *ngIf="esiste==false">
        <p class="text-white fs-2">non ci sono drink con questa lettera</p>
    </div>
</div>