<h1>Elenco lettera</h1>
<div class="col col-12">
    <button routerLink="/home">Home</button>
</div>
<div class="container">
    <div class="row">
        <div class="col col-12 d-flex justify-content-center mb-3">
            <div class="d-flex flex-nowrap" *ngFor="let lettera of letters">
                <button class="btn btn-primary mx-1" [routerLink]="'/home/elenco-lettera/'+ lettera">{{lettera}}</button>
            </div>
        </div>
        <div class="col col-12 d-flex flex-wrap" >
            <div class="w-25 px-2" *ngFor="let elemento of drinks">
                <div [routerLink]=" ['dettaglio-elenco', elemento.idDrink]" >
                    <img class="img-fluid" src="{{elemento.strDrinkThumb}}" alt="">
                    <p class="w-100 text-center">{{elemento.strDrink}}</p>
                </div>
            </div>
        </div>
    </div>
</div>