body{
    background-color: #230312;
}

#header{
    height: 120px;
    z-index: 5;
    padding-top: 56px;
}
#header h1{
    margin: .5rem;
}
#header, #header .container-fluid{
    background-color: #1d000d !important;
}
nav{
    width: 100%;
    position: fixed;
    background-color:  #1d000d;
    text-align: center;
    line-height: 56px;
    font-size: xx-large;
    color: white;
    z-index: 1000;
    display: block;
    top: 0;
}

.h-56{
    height: 56px;
}
.w-20{
    min-width: 19%;
    max-width: 19%;
}

@media (max-width: 768px){
    .w-20{
        margin-top: 1rem;
        min-width: 100%;
    }
}

.corto{
    max-height: 50% !important;
}
.lungo{
    max-height: 100% !important;
}

.selected{
    background-color: red !important;
}

.active_red{
    background-color: red;
}

ul{
    padding-top: 1rem;
    background-color: #230312;
}

#card:hover{
    cursor: pointer;
}